
# Visual Studio
*.db
*.opendb
*.vcxproj.user
*.csproj.user
*.vcxproj.filter
*.vcxproj.filters

# Xcode
xcuserdata

# Makefiles
Makefile
*.make

# Misc
.DS_Store
.gdb_history

# Sublime text
*.sublime-project
*.sublime-workspace

# Directories we don't ever want to commit
bin
obj
ipch
